services:
  - type: web
    name: telegram-games
    env: node
    rootDir: .
    buildCommand: cd server && npm install
    startCommand: cd server && node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: SERVER_URL
        value: https://server-bot-4.onrender.com
