.loading {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    width: 100%;
    padding: 21px 62px;
    position: relative;
    background-color: #151414;
  }
  
  .loading .token {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 331px;
  }
  
  .loading .text-wrapper {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.80px;
    line-height: normal;
  }
  
  .loading .div {
    width: 100%;
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #555555;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.70px;
    line-height: normal;
  }
  
  .loading .load-icon {
    display: flex;
    flex-direction: column;
    height: 62px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
  }
  
  .loading .icon {
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: -4.00px;
    margin-bottom: -4.00px;
  }
  
  .loading .authentication {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #c5c5c5;
    font-size: 15px;
    text-align: center;
    line-height: normal;
  }
  
  .loading .span {
    letter-spacing: -0.11px;
  }
  
  .loading .text-wrapper-2 {
    letter-spacing: 0;
  }
  
  .loading .bot {
    position: relative;
    width: 298px;
    height: 21px;
  }
  
  .loading .text-wrapper-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  /* Original CSS code should be injected here */
  
  .loading {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    padding: 21px 62px;
    position: relative;
    background-color: #151414;
    min-height: 100vh;
  }
  
  .loading .token {
    position: relative;
    align-self: stretch;
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }
  
  .loading .text-wrapper {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.80px;
    line-height: normal;
    margin: 0;
  }
  
  .loading .div {
    width: 100%;
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #555555;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.70px;
    line-height: normal;
    margin: 0;
  }
  .auth{
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #c5c5c5;
    font-size: 15px;
    text-align: center;
    line-height: normal;
    margin: 0;
  }
  .loading .load-icon {
    display: flex;
    flex-direction: column;
    height: 62px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
  }
  
  .loading .icon {
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: -4.00px;
    margin-bottom: -4.00px;
  }
  
  .loading .authentication {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #c5c5c5;
    font-size: 15px;
    text-align: center;
    line-height: normal;
    margin: 0;
  }
  
  .loading .span {
    letter-spacing: -0.11px;
  }
  
  .loading .text-wrapper-2 {
    letter-spacing: 0;
  }
  
  .loading .bot {
    position: relative;
    width: 298px;
    height: 21px;
  }
  
  .loading .text-wrapper-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    margin: 0;
  }
  