.refferal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 15px 25px;
    position: relative;
    background-color: #151414;
  }
  

  
  

  header{
    display: flex
;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: transparent;
  }
  

  
 .account-info {
    display: inline-flex
;
    max-width: 165px;
    align-items: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
}

.avatar {
    position: relative;
    width: 37px;
    height: 37px;
    border-radius: 18.5px;
    box-shadow: 0px 0px 3px #bbbbbb1a, 0px 2px 5px #bbbbbb17, 0px 2px 7px #bbbbbb0d;
    background: linear-gradient(180deg, rgba(125, 125, 125, 1) 0%, rgba(162, 162, 162, 1) 100%);
}

 .text-wrapper {
    position: relative;
    display: flex
;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-top: -1.00px;
    text-shadow: 0px 0px 7px #ffffff38;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 100%);
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 15px;
    letter-spacing: -0.75px;
    line-height: normal;
    white-space: nowrap;
}
  
.add-funds {
    display: flex
;
    width: 110px;
    height: 35px;
    align-items: center;
    gap: 8px;
    padding: 8px 11px;
    position: relative;
    border-radius: 10px;
    border: 1px solid;
    border-color: #363535;
    box-shadow: -1px 2px 3px #00000040, 0px 0px 10px #363535b2;
}
.img{
    position: relative;
    width: 12px;
    height: 12px;
}
.div {
    position: relative;
    width: 78px;
    text-shadow: 0px 0px 7px #ffffff38;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #c2c2c2;
    font-size: 15px;
    letter-spacing: -0.75px;
    line-height: normal;
    white-space: nowrap;
}
.group-ico-1 {
    display: flex
;
    align-items: center;
    justify-content: end;
    color: #C3C3C3;
    gap: 5px;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
  .refferal .get-of-deposits {
    position: relative;
    align-self: stretch;
    text-shadow: 0px 4px 4px #0000000d;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: -1.2px;
    line-height: normal;
  }
  
  .refferal .blur-token {
    position: absolute;
    width: 100%;
    box-shadow: inset 0px -31px 22px #151414;
    filter: blur(12.5px);
  }
  
  .refferal .token-red {
    position: relative;
    width: 242px;
    height: 182px;
    margin-bottom: -181px;
    aspect-ratio: 1.33;
  }
  .ceter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    gap: 30px;
  }
  .refferal .invite {
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  
  .refferal .invite-button {
    justify-content: center;
    padding: 16px;
    flex: 1;
    flex-grow: 1;
    border-radius: 12px;
    background: linear-gradient(
      237deg,
      rgba(224, 46, 78, 1) 0%,
      rgba(212, 38, 68, 1) 100%
    );
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  
  .refferal .text-wrapper-4 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    text-align: left;
    text-shadow: 0px 0px 7px #ffffff38;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: -0.7px;
    line-height: normal;
  }
  
  .refferal .copy-button {
    position: relative;
    width: 50px;
    height: 50px;
  }
  
  .refferal .ref-balance {
    display: flex;
    height: 82px;
    align-items: center;
    justify-content: space-between;
    padding: 19px;
    position: relative;
    align-self: stretch;
    width: 100%;
    border-radius: 12px;
    background: linear-gradient(
      136deg,
      rgba(21, 20, 20, 1) 0%,
      rgba(32, 31, 31, 1) 100%
    );
  }
  
  .refferal .frame-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .refferal .text-wrapper-5 {
    margin-top: -1px;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #878788;
    font-size: 12px;
    letter-spacing: -0.6px;
    left: 10px;
    line-height: normal;
    position: relative;
    align-self: stretch;
  }
  
  .refferal .frame-3 {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 30px;
    flex: 0 0 auto;
  }
  

  
  .refferal .ellipse {
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    background-color: #292626;
    border-radius: 11.5px;
    box-shadow:
      0px 1px 2px #2825250d, 0px 4px 4px #2825250a, 0px 9px 6px #28252508, 0px 17px 7px #28252503,
      0px 26px 7px transparent;
  }
  

  
  .refferal .text-wrapper-6 {
    position: absolute;
    width: 24%;
    height: 43.48%;
    top: 26.09%;
    left: 28%;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #292626;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .refferal .element {
    position: relative;
    width: 43px;
    height: 23px;
  }
  
  .refferal .text-wrapper-7 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-shadow: 0px 0px 7px #ffffff38;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .refferal .withdraw-button {
    display: flex;
    width: 107px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 9px;
    position: relative;
    border-radius: 10px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.33) 0%,
        rgba(0, 0, 0, 0.33) 100%
      ),
      linear-gradient(180deg, rgba(223, 47, 85, 1) 0%, rgba(158, 40, 65, 1) 100%),
      linear-gradient(
        0deg,
        rgba(217, 217, 217, 1) 0%,
        rgba(217, 217, 217, 1) 100%
      );
  }
  
  .refferal .text-wrapper-8 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    text-shadow: 0px 0px 7px #ffffff38;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .refferal .invited-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .refferal .invited {
    display: flex;
    align-items: center;
    gap: 7px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .refferal .invidet-amount {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: #353536;
    border-radius: 11px;
  }
  
  .refferal .text-wrapper-9 {
    align-self: stretch;
    margin-top: -1px;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    letter-spacing: -0.5px;
    position: relative;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    line-height: normal;
  }
  
  .refferal .text-wrapper-10 {
    position: relative;
    flex: 1;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: normal;
  }
  
  .refferal .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .refferal .text-wrapper-11 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #7c7c7d;
    font-size: 12px;
    letter-spacing: -0.6px;
    line-height: normal;
  }
  
  .refferal .text-wrapper-12 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #7c7c7d;
    font-size: 12px;
    text-align: right;
    letter-spacing: -0.6px;
    line-height: normal;
  }
  
  .refferal .refferal-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    width: 100%;
    flex: 0 0 auto;
    background-color: #212020;
    border-radius: 13px;
    position: relative;
    align-self: stretch;
  }
  
  .refferal .refferal-info-2 {
    gap: 5px;
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .refferal .avatar-2 {
    width: 39px;
    height: 39px;
    border-radius: 19.5px;
    box-shadow: 0px 0px 9px #bbbbbb1a;
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(125, 125, 125, 1) 0%,
      rgba(162, 162, 162, 1) 100%
    );
  }
  
  .refferal .refferal-info-3 {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .refferal .text-wrapper-13 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: -0.7px;
    line-height: normal;
  }
  
  .refferal .text-wrapper-14 {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #848484;
    font-size: 12px;
    letter-spacing: -0.6px;
    line-height: normal;
  }
  
  .refferal .profit-amount {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 11px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 11px;
    background: linear-gradient(
      121deg,
      rgba(39, 38, 38, 1) 0%,
      rgba(53, 52, 52, 1) 100%
    );
  }
  
  .refferal .text-wrapper-15 {
    width: fit-content;
    text-shadow: 0px 0px 7px #ffffff38;
    color: #ffffff;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.7px;
    position: relative;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    line-height: normal;
  }
  
  .refferal .icon-amount {
    position: relative;
    width: 25px;
    height: 23px;
    margin-right: -2px;
  }
  

  


 .menu {
    display: flex
;
   width: 370px;
    height: 80px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: fixed;
    bottom: 10px;
    z-index: 100;
    margin-left: -8.00px;
    margin-right: -8.00px;
    background-color: #96969633;
    border-radius: 17px;
    backdrop-filter: blur(9px) brightness(100%);
    -webkit-backdrop-filter: blur(9px) brightness(100%);
}
.select {
    position: absolute;
    top: 0;
    left: 18.3em;
    width: 80px;
    height: 80px;
}
.main {
    display: flex
;
    flex-direction: column;
    width: 34.87px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
}

.upgrade {
    display: flex
;
    flex-direction: column;
    width: 60px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
}

 
.swap {

    display: flex
;
    flex-direction: column;
    width: 38px;
    align-items: center;
    justify-content: center;
    gap: 6px;
    position: relative;
    align-self: stretch;
}
.profile {
    display: flex
;
    flex-direction: column;
    width: 46px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
}
  .icon-4, .icon-3{
    width: 46%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap: 1.5px;
  }
  .vector, .vector-2{
    width: 21px;
    height: 10px;
  }
  .vector{
    position: relative;
    left: 2px;
  }
  .vector-3{
    width: 11.350px;
    height: 11.350px;
  }
  .vector-4{
    width: 15px;
    height: 8px;
  }
  .icon {
    position: relative;
    width: 20px;
    height: 20px;
    background-image: url(https://raw.githubusercontent.com/Pacific1a/img/6768186bd224ed8383ca478d1363a8b40b694805/imgALL/vector-9.svg);
    background-size: 100% 100%;
}
.icon-2 {
    position: relative;
    width: 28px;
    height: 29.87px;
    background-image: url(https://raw.githubusercontent.com/Pacific1a/img/6768186bd224ed8383ca478d1363a8b40b694805/imgALL/vector-10.svg);
    background-size: 100% 100%;
}
.icon-balance{
    display: flex;
    align-items: center;
    justify-content: center;

}
.game-3 {
    gap: 1px;
    display: flex
;
    flex-direction: column;
    width: 42px;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
}
.mask-group {
    position: relative;
    width: 19px;
    height: 19px;
}
.text-wrapper-20{
    text-align: center;
    position: relative;
    align-self: stretch;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #ffffffe6;
    font-size: 14px;
    letter-spacing: -0.70px;
    line-height: normal;
}
.text-wrapper-22{
    text-align: center;
    height: 18.13px;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #ffffffe6;
    font-size: 14px;
    letter-spacing: -0.56px;
    line-height: normal;
    position: relative;
    align-self: stretch;
}
.text-wrapper-21{
    text-align: center;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #ffffffe6;
    font-size: 14px;
    letter-spacing: -0.56px;
    line-height: normal;
    position: relative;
    align-self: stretch;
}
 
  
 
  /* Inject original CSS code here */
  
  .refferal .frame {
    cursor: pointer;
    border: none;
    background: transparent;
    transition: opacity 0.2s ease;
  }
  
  .refferal .frame:hover {
    opacity: 0.8;
  }
  
  .refferal .frame:active {
    opacity: 0.6;
  }
  
  .refferal .invite-button {
    cursor: pointer;
    border: none;
    transition: opacity 0.2s ease;
  }
  
  .refferal .invite-button:hover {
    opacity: 0.9;
  }
  
  .refferal .invite-button:active {
    opacity: 0.8;
  }
  
  .refferal .copy-button {
    cursor: pointer;
    border: none;
    background: linear-gradient(237deg, rgba(224, 46, 78, 1) 0%, rgba(212, 38, 68, 1) 100%);
    padding: 0;
    border-radius: 12px;
    transition: opacity 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .refferal .copy-button:hover {
    opacity: 0.8;
  }
  
  .refferal .copy-button:active {
    opacity: 0.6;
  }
  
  .refferal .copy-button img {
    display: block;
    width: 50px;
    height: 50px;
  }
  
  .refferal .withdraw-button {
    cursor: pointer;
    border: none;
    transition: opacity 0.2s ease;
  }
  
  .refferal .withdraw-button:hover {
    opacity: 0.9;
  }
  
  .refferal .withdraw-button:active {
    opacity: 0.8;
  }
  

