.swap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 15px;
  padding: 14px;
  position: relative;
  background: 
    linear-gradient(#151414b4, #151414b4), /* затемнение */
    url("https://github.com/Pacific1a/img/blob/main/swap/Background.png?raw=true") center/cover no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
}
.info-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.swap .header {
  gap: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: transparent;
}

.swap .account-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.swap .avatar {
  width: 37px;
  height: 37px;
  border-radius: 18.5px;
  box-shadow:
    0px 1px 3px #bbbbbb1a, 0px 5px 5px #bbbbbb17, 0px 12px 7px #bbbbbb0d, 0px 21px 8px #bbbbbb03, 0px 33px 9px transparent;
  background: linear-gradient(
    180deg,
    rgba(125, 125, 125, 1) 0%,
    rgba(162, 162, 162, 1) 100%
  );
}



.swap .text-wrapper {
  text-shadow: 0px 0px 7px #ffffff38;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(230, 230, 230, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 15px;
  letter-spacing: -0.75px;
  max-width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swap .add-funds {
  display: flex;
  width: 100px;
  height: 35px;
  align-items: center;
  gap: 8px;
  padding: 5px;
  position: relative;
  border-radius: 10px;
  border: 1px solid;
  border-color: #363535;
  box-shadow: -1px 2px 3px #00000040, 0px 0px 10px #363535b2;
}

.swap .img {
  position: relative;
  width: 11.92px;
  height: 11.92px;
}

.swap .div {
  position: relative;
  width: 78px;

  text-shadow: 0px 0px 7px #ffffff38;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #c2c2c2;
  font-size: 15px;
  letter-spacing: -0.75px;
  white-space: nowrap;
}

.swap .balance {
  position: relative;
  width: 65px;
  height: 46px;
  margin-right: -2.00px;
}

.swap .element {
  position: absolute;
  width: 34px;
  height: 18px;
  top: 4px;
  left: 0;
}

.swap .text-wrapper-2 {
  position: absolute;
  top: -1px;
  left: 0;
  text-shadow: 0px 0px 7px #ffffff38;
  color: #c2c2c2;
  font-size: 15px;
  white-space: nowrap;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.swap .overlap-group {
  position: absolute;
  width: 24px;
  height: 50px;
  top: 0;
  left: 39px;
}

.swap .ellipse {
  width: 23px;
  height: 23px;
  top: 0;
  border-radius: 11.5px;
  position: absolute;
  left: 1px;
  background-color: #292626;
  box-shadow:
    0px 1px 2px #2825250d, 0px 4px 4px #2825250a, 0px 9px 6px #28252508, 0px 17px 7px #28252503, 0px 26px 7px transparent;
}

.swap .icon {
  position: absolute;
  width: 21px;
  height: 23px;
  top: 3px;
  left: 2px;
}

.swap .text-wrapper-3 {
  position: absolute;
  width: 6px;
  top: 6px;
  left: 8px;
  color: #292626;
  font-size: 11px;
  white-space: nowrap;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.swap .ellipse-2 {
  width: 22px;
  height: 22px;
  top: 24px;
  border-radius: 11px;
  position: absolute;
  left: 1px;
  background-color: #292626;
  box-shadow:
    0px 1px 2px #2825250d, 0px 4px 4px #2825250a, 0px 9px 6px #28252508, 0px 17px 7px #28252503, 0px 26px 7px transparent;
}

.swap .token {
  position: absolute;
  width: 23px;
  height: 25px;
  top: 25px;
  left: 0;
  aspect-ratio: 0.93;
}

.swap .div-wrapper {
  position: absolute;
  width: 10px;
  height: 18px;
  top: 26px;
  left: 24px;
}

.swap .text-wrapper-4 {
  width: 10px;
  top: -1px;
  left: 0;
  text-shadow: 0px 0px 7px #ca395938;
  font-weight: 600;
  color: #ca3958;
  font-size: 15px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.swap .streak {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    rgba(27, 25, 25, 1) 0%,
    rgba(28, 26, 26, 1) 100%
  );
}

.swap .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.swap .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-left: -6.00px;
  margin-right: -6.00px;
  transform: rotate(-90deg);
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ff403e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.swap .circle {
  position: relative;
  width: 4px;
  height: 4px;
  background-color: #ff3e45;
  border-radius: 2px;
  box-shadow: -0.3px 0.3px 0px #ab2a2e;
}

.swap .img-2 {
  position: relative;
  width: 53px;
  height: 53px;
}

.swap .high-prize {
  position: relative;
  width: 53px;
  height: 53px;
  background-image: url(./img/mask-group.png);
  background-size: 100% 100%;
}

.swap .overlap-group-2 {
  position: relative;
  width: 41px;
  height: 41px;
  top: 4px;
  left: 4px;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}

.swap .text-wrapper-6 {
  width: 19px;
  top: 17px;
  left: 12px;
  text-shadow: 0px 0px 8.3px #829ce5;
  background: linear-gradient(
    180deg,
    rgba(186, 218, 255, 1) 0%,
    rgba(79, 109, 224, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-weight: 700;
  color: transparent;
  font-size: 7px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.swap .img-3 {
  position: relative;
  width: 52px;
  height: 53px;
}

.swap .token-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-left: -6.00px;
  margin-right: -6.00px;
  aspect-ratio: 2.43;
}

.swap .div-2 {
  display: flex;
  flex-direction: column;
  width: 329px;
  height: 65%;

  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.swap .element-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 25px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 12px;
  box-shadow: 0px -15px 22px #1d1b1b8c;
  background: linear-gradient(
    136deg,
    rgba(26, 24, 24, 1) 0%,
    rgba(32, 31, 31, 1) 100%
  );
}

.swap .p {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #878788;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.60px;
}

.swap .div-3 {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 28px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.swap .rubles {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
}

.swap .element-3 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  max-width: 120px;
  overflow: hidden;
}

.swap .text-wrapper-7 {
  position: relative;
  width: fit-content;
  max-width: 90px;
  margin-top: -1.00px;
  text-shadow: 0px 0px 7px #ffffff38;
  color: #ffffff;
  font-size: 19px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  overflow: hidden;
  white-space: nowrap;
}

.swap .overlap-group-wrapper {
  position: relative;
  width: 25px;
  height: 23px;
}

.swap .overlap-group-3 {
  position: relative;
  width: 23px;
  height: 26px;
}

.swap .ellipse-3 {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  background-color: #292626;
  border-radius: 11.5px;
  box-shadow:
    0px 1px 2px #2825250d, 0px 4px 4px #2825250a, 0px 9px 6px #28252508, 0px 17px 7px #28252503, 0px 26px 7px transparent;
}

.swap .icon-2 {
  position: absolute;
  width: 25px;
  height: 24px;
  top: 2px;
  left: 1px;
}

.swap .text-wrapper-8 {
  position: absolute;
  width: 6px;
  top: 6px;
  left: 7px;
  color: #292626;
  font-size: 11px;
  white-space: nowrap;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.swap .vector {
  position: relative;
  width: 28px;
  height: 28px;
}

.swap .tokens {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
}

.swap .element-wrapper {
  position: relative;
  width: 98.5px;
  height: 23px;
}

.swap .element-4 {
  left: 80px;
  position: relative;
  width: fit-content;
  text-shadow: 0px 0px 7px #ffffff38;
  color: #ffffff;
  font-size: 19px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  color: #CA3959;
}

.swap .icon-token {
  display: flex;
  width: 22px;
  height: 21px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #292626;
  border-radius: 11px;
  box-shadow:
    0px 1px 2px #2825250d, 0px 4px 4px #2825250a, 0px 9px 6px #28252508, 0px 17px 7px #28252503, 0px 26px 7px transparent;
}

.swap .token-3 {
  position: relative;
  width: 43px;
  height: 28px;
  margin-bottom: -3px;
  aspect-ratio: 0.93;
}

.swap .exchenge-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 11px;
  background: linear-gradient(
    180deg,
    rgba(214, 39, 70, 1) 0%,
    rgba(221, 44, 75, 1) 100%
  );
}

.swap .text-wrapper-9 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  background: linear-gradient(
    90deg,
    rgba(212, 172, 172, 1) 0%,
    rgba(255, 222, 222, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
}



.group-ico-1 {
  display: flex
;
  align-items: center;
  justify-content: end;
  color: #C3C3C3;
  gap: 5px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0;
  white-space: nowrap;
}
.group-ico-1 span{
  color: #CA3959;
  font-size: 15px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  white-space: nowrap;
}

.menu{
  background-color: rgb(151, 151, 151, 20%);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 360px;
  height: 80px;
  bottom: 10px;
  border-radius: 17px;
}
.navigate{
  display: flex;
  align-items: center;
  justify-content: space-around; 
  height: 100%;
  width: 100%;
}
.navigate-item{
  height: 100%;
  width: 100%;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.navigate-item span{
  font-family: "Montserrat", Helvetica;
  color: #FFFFFF;
  font-size: 14px;
}
.navigate a{
  height: 100%;
}
.tops{
  position: relative;
  top: -4px;
}
.select {
  width: 74px;
  height: 80px;
  left: 217px;
  z-index: -1;
  border-radius: 14px;
  position: absolute;
  top: 0;
}


