:root{
  --NexaRegular: "NexaRegular";
  --NexaHeavy: "NexaHeavy";
  --NexaBook: "NexaBook";
  --heavi: "heavi"
}
@font-face {
      font-family: "NexaRegular";
      src: url("NexaTextRegular.otf")
        format("opentype");   
    }
@font-face {
      font-family: "NexaHeavy";
      src: url("Nexa-Heavy.ttf")
        format("opentype");
    }
@font-face {
      font-family: "NexaBook";
      src: url("NexaTextBook.otf")
        format("opentype");
    }
@font-face {
  font-family: "heavi";
  src: url(nexa-heavy-regular.ttf);
}