/* Радикальное удаление стрелок скроллбара */
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:start,
::-webkit-scrollbar-button:vertical:decrement {
    display: block !important;
    height: 0px !important;
    background: transparent !important;
}

::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:end,
::-webkit-scrollbar-button:vertical:increment {
    display: block !important;
    height: 0px !important;
    background: transparent !important;
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:start,
::-webkit-scrollbar-button:horizontal:decrement {
    display: block !important;
    width: 0px !important;
    background: transparent !important;
}

::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:horizontal:end,
::-webkit-scrollbar-button:horizontal:increment {
    display: block !important;
    width: 0px !important;
    background: transparent !important;
}
